<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="usuarioSDK" value="CIATEC A.C." />
    <add key="correoElectronicoSDK" value="cmontes@ciatec.mx" />
    <add key="codigoRegistroSDK" value="ctA2wtcEO3c1M0NuhsEjs4deHYL3zphHGG4m+D46BotTGHZOmHiP4p/5Ym66+m5wg0LdcN+uyjhN00jOW6zg9lMHwRq7k9jqjimz8bahxbVlaNLk6EjI8udR+mNj4Ey2IN0xoPkqd3oyUnGKL2MSNR1EOEsaPWEucff3Ou3lexrY" />
    <!-- Parámetros iniciales para el escaneo de archivos -->
    <add key="Scanner" value="PaperStream IP fi-7160"/>
    <!--<add key="Scanner" value="TWAIN2 FreeImage Software Scanner"/>-->

    <add key="Duplex" value="false"/>
    <add key="Resolution" value="300"/>
    <add key="Author" value="CIATEC A.C."/>
    <add key="Creator" value="CIATEC"/>
    <add key="Title" value=""/>
    <add key="FileName" value="documento.pdf"/>
  </appSettings>
</configuration>
